*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color:rgb(253, 253, 253);
}
header{
    height: 10%;
    position: sticky;
    top:0;
    background-color: aquamarine;
}
main{
    width: 90%;
    margin: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between; 
    height: 100vh;
}
.main-section{
    width: 60%;
    background-color: aqua;
  
}
.sidebar{
    width: 40%;
    background-color: bisque;
}
