*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color:rgb(253, 253, 253);
}
header{
    height: 10%;
    position: sticky;
    padding: 10px;
    top:0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#search-elt{
    height: 20px;
}
main{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    height: 100vh;
}
.main-section{
    width: 60%;
    padding: 10px;
}

.sidebar{
    width: 40%;
    padding-top: 10px;
}
.sidebar ul li{
    display: inline;
    padding: 10px;
    list-style-type: none;
}
.sidebar ul li button{
    width: auto;
    padding: 7px;
    border-radius: 12px;
    border: none;
}
.sidebar ul li button:hover{
    background-color: black;
    color: white;
}
.sidebar .suggestion{
    display: flex;
    padding: 20px;
   
}
.sidebar .suggestion img{
    width:200px;
    height: 100px;
    margin-right: 10px;
}
.suggestion-title h3{
    padding-bottom: 10px;
}
.suggestion-title p{
    color: gray;
}